{{define "body"}}

<div class="container-fluid" style="width: 80%;">
    <div class="row">
        <h1 class="m-3 p-2">Chettlr<span style="color: rgb(66, 201, 133);">    /blog</span></h1>
    </div>
    <div class="row">
        <div class="col-7">
            <iframe class="rounded overflow-none m-4 " src="/published/20241015170842.html" frameborder="0" width="90%" height="800px"></iframe>
        </div>

        <div class="col">
            <div class="row">

            </div>
            <div class="row">
                <h2>Latest Articles</h2>
                <ul>
                    {{ range . }}
                    <li><a>{{.}}</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>

</div>

{{end}}